{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Troca de senha</title>
    <link rel="stylesheet" href="{% static 'bait_form/styles/base.css' %}">
</head>

<body>
    <div class="form-container">
        <form class="bait-form" action="">
            <div class="logo-container">
                <img src="{% static 'bait_form/img/setra-logo.png' %}" alt="Logo SetraBH" width="160px">
                <hr>
                <img src="{% static 'bait_form/img/tf-logo.png' %}" alt="Logo Transfacil" width="160px">
            </div>
            <div class="data-container">
                <div class="message-container">
                    <img src="{% static 'bait_form/img/info-icon.png' %}" alt="info" width="32px">
                    <span class="info-text">Digite uma nova senha e digite-a novamente no campo de
                        confirmação.</span>
                </div>
                <table>
                    <tr>
                        <td>
                            <label for="username">Nome de usuário:</label>
                        </td>
                        <td>
                            <input class="username" name="username" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="old-pass">Senha antiga:</label>
                        </td>
                        <td>
                            <input class="old-pass" name="old-pass" type="password">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="new-pass">Nova senha:</label>
                        </td>
                        <td>
                            <input class="new-pass" name="new-pass" type="password">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="confirm-pass">Confirmar:</label>
                        </td>
                        <td>
                            <input class="confirm-pass" name="confirm-pass" type="password">
                        </td>
                    </tr>
                </table>
                <div class="button-container">
                    <button class="button-style" type="submit">Alterar a senha</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>